<div class='well'>
  <%= form_for @post do |f| %>
  <%= render 'shared/errors', obj: @post %>
  <div class="control-group">
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>

  <div class="control-group">
    <%= f.label :URL %>
    <%= f.text_field :url %>
  </div>

  <div class="control-group">
    <%= f.label :Description %>
    <%= f.text_area :description, rows: 5 %>
  </div>

  <!--   <select name="post[category_ids][]" id="" multiple='multiple'>
    <option value="1">option 1</option>
    <option value="2">option 2</option>
  </select>
  <br>
  -->

  <div class="control-group">
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
  <% end %>
  </div>

  <%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
<% end %>
</div>
