<div class="row">
  <div class="span8 well">
    <p>
      <%= render post.categories %>
    </p>
    <p>
      <%= link_to post.title, fix_url(post.url) %>
      <% if logged_in? && current_user == post.creator %>
        [<%= link_to 'edit', edit_post_path(post) %>]
      <% end %>
    </p>
    <p>
      <%= post.description %>
    </p>
    <p>
      <span class="quiet">postd by</span>
      <%= post.creator.username %>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>